<div class="mmooc-enroll-category">
    <!-- TODO: remove when the work on new features is finalised - I left it as a point of reference while we work on new features
    <h2 class="mmooc-enroll-category-title">{{title}}</h2>
    <ul>
        {{#each courses}}
        <li class="{{#if enrolled}}enrolled{{else}}notenrolled{{/if}}">
            {{#if enrolled}}
            <a href="{{urlForCourseId id}}">
                {{else}}
                <a class="all-courses-show-modal" href="#">
                    {{/if}} {{name}}
                </a>
        </li>
        {{#unless enrolled}}
        <div class="all-courses-modal modal-course-{{id}}">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-close modal-back"></div>
                </div>
                <div class="modal-description">
                    <h3>{{name}}</h3>
                    <div>{{public_description}}</div>
                </div>
                <div class="modal-footer">
                    <a class="modal-back" href="#">Tilbake til {{courseLabel}}oversikten</a>
                    {{#if self_enrollment_code}}
                    <a class="btn modal-enroll" href="/enroll/{{self_enrollment_code}}">Meld deg på</a>{{/if}}
                </div>
            </div>
        </div>
        {{/unless}} {{/each}}
    </ul>
    -->

    <section class="mmooc-accordion">
        <header id="mmooc-accordion-header">
            <div class="mmooc-accordion-header-main">
                <div>
                    <h1>{{title}}</h1>
                </div>
                <div>
                    <!-- TODO: variable with a number of courses shall be placed here -->
                    <div>1 kurs</div>
                    <!-- TODO: variable with a number of courses the user is subscribed to shall be placed here
                         also, it should be visible only on the 'logged in screen' -->
                    <div>du er registerd in 1 kurs</div>
                </div>
            </div>
            <div>
                <span>Lukke</span>
                <span>v</span>
            </div>
        </header>
        <article id="mmooc-accordion-content" class="mmooc-accordion-content">
            <div class="mmooc-tabs">
                <div class="mmooc-tab-heads">
                    {{#each courses}}
                    <button index={{@index}} class="mmooc-tab-head">{{name}}</button>
                    {{/each}}
                </div>
                <div class="mmooc-tab-content-ctr">
                    {{#each courses}}
                    <div id="tabContent-{{@index}}" class="mmooc-tab-content">
                        <p>{{public_description}}</p>
                        <button>Registrere med Feide</button>
                        <button>Registrere</button>
                    </div>
                    {{/each}}
                </div>
            </div>
        </article>
    </section>
</div>