<div class="mmooc-enroll-category">
    <h2 class="mmooc-enroll-category-title">{{title}}</h2>
    <ul>
        {{#each courses}}
        <li class="{{#if enrolled}}enrolled{{else}}notenrolled{{/if}}">
            {{#if enrolled}}
            <a href="{{urlForCourseId id}}">
                {{else}}
                <a class="all-courses-show-modal" href="#">
                    {{/if}} {{name}}
                </a>
        </li>
        {{#unless enrolled}}
        <div class="all-courses-modal modal-course-{{id}}">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-close modal-back"></div>
                </div>
                <div class="modal-description">
                    <h3>{{name}}</h3>
                    <div>{{public_description}}</div>
                </div>
                <div class="modal-footer">
                    <a class="modal-back" href="#">Tilbake til {{courseLabel}}oversikten</a>
                    {{#if self_enrollment_code}}
                    <a class="btn modal-enroll" href="/enroll/{{self_enrollment_code}}">Meld deg på</a>{{/if}}
                </div>
            </div>
        </div>
        {{/unless}} {{/each}}
    </ul>
</div>