<div class="mmooc-enroll-category">
    <section class="mmooc-accordion">
        <button id="mmooc-accordion-header-{{index}}" class="mmooc-accordion-header" index={{index}} data-title="{{title}}">
            <div class="mmooc-accordion-header-main" index={{index}}>
                <div>
                    <h1>{{title}}</h1>
                </div> 
                <div>
                    {{#if coursesAmount}}
                        <div class="mmooc-tag mmooc-tag-teal">
                            <label>{{coursesAmountText}}</label>
                        </div>
                    {{/if}}
                    <!-- TODO: variable with a number of courses the user is subscribed to shall be placed here
                        also, it should be visible only on the 'logged in screen' -->
                    {{#if coursesEnrolledAmount}}
                        <div class="mmooc-tag mmooc-tag-green">
                            <label>{{YouAreRegisteredToXCoursesText}}</label>
                        </div>
                    {{/if}}
                </div>
            </div>
            <div class="mmooc-accordion-label-closed">
                <label class="mmooc-accordion-header-label">{{openCoursesGroupText}}</label>
                <svg width="16" height="9" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M-8-12h32v32H-8z" />
                        <path fill-opacity=".5" fill="#373737" d="M1.887 0L8 5.565 14.113 0 16 1.717 8 9 0 1.717z" />
                    </g>
                </svg>
            </div>
            <div class="mmooc-accordion-label-open">
                <label class="mmooc-accordion-header-label">{{closeCoursesGroupText}}</label>
                <svg width="16" height="9" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M-8 21h32v-32H-8z" />
                        <path fill="#24A1B3" d="M1.887 9L8 3.435 14.113 9 16 7.283 8 0 0 7.283z" />
                    </g>
                </svg>
            </div>
        </button>
        <article id="mmooc-accordion-content-{{index}}" class="mmooc-accordion-content">

            <div class="mmooc-tabs">
                <div class="mmooc-tab-heads">
                    {{#each courses}}
                    <span class="{{id}}" data-name="course">
                    <button id="mmooc-tab-head-{{id}}" class="mmooc-tab-head mmooc-tab-head-{{@index}}" index="{{id}}">
                        {{name}}
                        {{#if enrolled}}
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M-4-4h24v24H-4z"/><path d="M8 0c4.416 0 8 3.584 8 8s-3.584 8-8 8-8-3.584-8-8 3.584-8 8-8zM6.4 12l6.43-6.43-1.127-1.137L6.4 9.736 3.528 6.872 2.4 8l4 4z" fill="#00AC18" fill-rule="nonzero"/></g></svg>
                        {{/if}}
                    </button>
                    </span>
                    {{/each}}
                </div>
                <div class="mmooc-tab-content-ctr">
                    {{#each courses}}
                    <div id="mmooc-tab-content-{{id}}" class="mmooc-tab-content mmooc-tab-content-{{@index}}">
                        <p>{{public_description}}</p>
                        <div class="mmooc-button-ctr">
                            {{#unless ../isAuthenticated}}
                              <a class="mmooc-button mmooc-button-primary" href="/courses{{../../queryString}}&enroll_code={{self_enrollment_code}}">
                              </a>
                            {{/unless}}
                            {{#if enrolled}}
                              <a class="mmooc-button mmooc-button-secondary" href="/courses/{{../id}}">{{../../goToCourse}}</a>
                            {{else}}
                                <a class="mmooc-button mmooc-button-secondary" href="/enroll/{{../self_enrollment_code}}">{{../../courseRegister}}</a>
                            {{/if}}
                        </div>
                    </div>
                    {{/each}} 
                </div>
            </div>

            <section class="mmooc-tabs-mobile">
                {{#each courses}}
                <span class="{{id}}" data-name="course">
                <button id="mmooc-tabs-mobile-header-{{id}}" class="mmooc-tabs-mobile-header" index={{id}}>
                    {{name}}
                    {{#if enrolled}}
                        <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M-4-4h24v24H-4z"/><path d="M8 0c4.416 0 8 3.584 8 8s-3.584 8-8 8-8-3.584-8-8 3.584-8 8-8zM6.4 12l6.43-6.43-1.127-1.137L6.4 9.736 3.528 6.872 2.4 8l4 4z" fill="#00AC18" fill-rule="nonzero"/></g></svg>
                    {{/if}}
                </button>
                </span>
                <article id="mmooc-tabs-mobile-content-{{id}}" class="mmooc-tabs-mobile-content">
                    <p>{{public_description}}</p>
                    <div class="mmooc-button-ctr">
                        {{#unless ../isAuthenticated}}
                            <a class="mmooc-button mmooc-button-primary" href="/courses{{../../queryString}}&enroll_code={{self_enrollment_code}}"></a>
                        {{/unless}}
                        {{#if enrolled}}
                            <a class="mmooc-button mmooc-button-secondary" href="/courses/{{../id}}">{{../../goToCourse}}</a>
                        {{else}}
                            <a class="mmooc-button mmooc-button-secondary" href="/enroll/{{../self_enrollment_code}}">{{../../courseRegister}}</a>
                        {{/if}}
                    </div>
                </article>
                {{/each}}
            </section>
        </article>
    </section>
</div>
