<div class="mmooc-course-list">
	{{#each courses}}
		<div class="mmooc-course-list-item">
			<h2><a href="{{urlForCourseId id}}">{{name}} &gt;</a></h2>

			{{#if syllabus_body}}
            	<div class="mmocc-course-list-description">
					{{{syllabus_body}}}
            	</div>
			{{/if}}

			{{#with course_progress}}
				{{#if requirement_count}}
					<div class="mmooc-progress-bar">
                    	<div class="mmooc-progress-bar-inner" style="width:{{percentage requirement_completed_count requirement_count}}%">
							{{percentage requirement_completed_count requirement_count}}%
						</div>
                    </div>
				{{/if}}
			{{/with}}

		</div>
	{{/each}}
</div>