<div class="mmooc-course-list">
    <h2 class="mmooc-course-category-title">{{title}}</h2>
    <!--If the amount of courses is large, the filter select box and corresponding javascript code in courselist.js should be enabled
    <select id="filter"></select>
-->
    <div class="mmooc-row">
        {{#each courses}}
        <div id="course_{{id}}" class="mmooc-size-1of3">
            <div class="mmooc-course-list-item">
                <div class="mmooc-course-list-heading">
                    <h2 {{#ifHasRole enrollments "ObserverEnrollment"}} class="tooltip" {{/ifHasRole}}>
                        <a href="{{urlForCourseId id}}">
                            {{name}} {{#ifHasRole enrollments "ObserverEnrollment"}} - Observatør
                            <div class="tooltiptext">
                                Som observatør kan du se innholdet i emner der du ikke er registrert som student.
                            </div>
                            {{/ifHasRole}}
                        </a>
                    </h2>
                </div>

                <div class="mmooc-course-list-description">
                    {{#if syllabus_body}} {{{syllabus_body}}} {{/if}}
                </div>
                {{debug}}

                <div class="mmooc-course-list-progress">
                    {{#ifHasRole enrollments "StudentEnrollment"}} {{#with course_progress}} {{#if requirement_count}}
                    <div class="mmooc-progress-bar{{#ifEquals requirement_completed_count requirement_count}} mmooc-progress-bar-done{{/ifEquals}}">
                        <div class="mmooc-progress-bar-inner" style="width:{{percentage requirement_completed_count requirement_count}}%">
                        </div>
                    </div>
                    {{/if}} {{/with}} {{/ifHasRole}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>