<div class="mmooc-back-button">
    <a href="{{urlForCourseId courseId}}/groups">Tilbake til gruppeliste</a>
</div>
<div id="mmooc-group-header">
    <div id="mmooc-group-members">
        <p><b>Gruppemedlemmer</b></p>

        <div class="mmooc-group-members-list">
            {{#each members}}
                <div class="mmooc-group-member">
                    <div class="mmooc-group-member-avatar" style="background-image: url('{{avatar_url}}')"></div>
                    <div class="mmooc-group-member-link">
                        <a href="/about/{{id}}">{{name}}</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div id="mmooc-group-links">
        <p>
            <a target="_new" href="https://connect.uninett.no/uit-videorom-matematikkmooc-{{groupId}}" class="external"><b>Videorom for gruppa</b> <span class="ui-icon ui-icon-extlink ui-icon-inline" title="Lenker til en ekstern side."></span></a>
        </p>
    </div>

</div>
