<nav aria-label="content" role="navigation">

    <div class="mmooc-module-items-back-to-course-button mmooc-back-button">
        <a href="{{urlForCourseId courseId}}">Tilbake til kursforsiden</a>
    </div>

    {{#with module}}
        <div class="header">
            {{name}}
        </div>

        {{#if items}}
            <ul class="mmooc-module-items">
                {{#each items}}
                    <li class="mmooc-module-item mmooc-module-item-icon">
                        <a class="{{#if isCurrent}}active{{/if}}" href="{{html_url}}">
                            <span class="mmooc-module-item-title">{{title}}</span>
                            <span class="mmooc-module-items-icons-{{type}}{{#ifItemIsCompleted completion_requirement}} done{{/ifItemIsCompleted}}"
                               href="{{html_url}}">
                                <i class="icon-{{lowercase type}}"></i>
                            </span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    {{/with}}
</nav>