<div class="mmooc-modules">
    <h2 class="h3">{{coursemodules}}</h2>
    {{#each modules}}
        <div class="mmooc-module">
            <h2 class="light"><a class="tooltip" href="{{urlForFirstNoneCompleteItem items}}">{{name}}<div class="tooltiptext"><h2 class="light">{{name}}</h2>
            {{#each items}}
              {{#ifEquals type "SubHeader"}}
                {{title}}<br/>
              {{/ifEquals}}
            {{/each}}
            </div></a></h2>
            {{#if items}}
                <ul class="mmooc-module-items-icons">
                    {{#each items}}
                      {{#ifEquals type "SubHeader"}}
                          {{#unless @first}}
                            <li class="mmooc-module-item-icon">&nbsp;</i></li>
                          {{/unless}}                            
                      {{else}}
                             <li class="mmooc-module-item-icon">
                             <a class="tooltip mmooc-module-items-icons-{{type}} 
                                 {{#ifItemIsCompleted completion_requirement}}done{{/ifItemIsCompleted}}" 
                                 href="{{html_url}}">
                                 <i class="icon-{{lowercase type}}{{overrideIconClassByTitle title}}"></i>
                                 {{#ifItemTypeDiscussion type}}
                                    <div class="discussion-unread-tag discussion-id-{{this.content_id}}"></div>
                                 {{/ifItemTypeDiscussion}}
                                 <div class="tooltiptext">{{title}}</div>
                            </a>
                            </li>
                      {{/ifEquals}}
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    {{/each}}
</div> 
