<div class="mmooc-assignments-rightside">
	<div class="mmooc-assignments-responses">
		<h3>Besvarelser</h3>
		<div class="mmooc-assignments-responses-contents">
			<p class="mmooc-assignment-delivery-date{{#if submission.late}} late{{/if}}">Levert {{norwegianDateAndTime submission.submitted_at}}{{#if submission.late}} (for sen){{/if}}</p>
			
			{{#if submission.attachments}}
				<ul class="mmooc-assignment-files">
					{{#each submission.attachments}}
                        <li>
							<a href="{{url}}" class="file-big">{{display_name}}</a>
						</li>
                    {{/each}}
					<!--<li>
						<a href="/courses/54/assignments/371/submissions/1725?download=1296" class="file-big">CanvaBadges oversikt.pdf</a>
					</li>
					<li>
						<a href="/courses/54/assignments/371/submissions/1725?download=1297" class="file-big">CanvaBadges.pdf</a>
					</li>-->
				</ul>
            {{/if}}
		</div>
		<div class="mmooc-assignment-details">
			<a href="{{getPathFromUrl submission.preview_url}}">Vis detaljer om innlevering &raquo;</a>
		</div>
	</div>
	<div class="mmooc-peer-reviews">
		<h3>Hverandrevurdering tildelt deg</h3>
		<ul class="unstyled_list">
			{{#unless peerReview.length}}
			<li>Ingen innleveringer tildelt</li>
			{{/unless}}
			{{#each peerReview}}
				<li>
					<a class="{{getPeerReviewWorkflowIconClass workflow_state}}" href="{{assessor.mmooc_url}}">{{assessor.display_name}}</a>
				</li>	
			{{/each}}
		</ul>
	</div>
</div>
