<div class="login-box">
  <div class="login-box__upper">
    <p class="login-box__text">{{RegisterText}}</p>
    <div class="login-box__close"></div>
  </div>
  <div class="login-box__lower">
    <a aria-label="enroll"  class="mmooc-button mmooc-button-primary" href="/courses{{queryString}}&enroll_code={{selfRegisterCode}}">&nbsp;
    </a>
    <a class="mmooc-button mmooc-button-secondary" href="/enroll/{{selfRegisterCode}}">
      {{RegisterWithCanvasText}}
    </a>
  </div>
</div>
