<div class="login-box">
  <div class="login-box__upper">
    <p class="login-box__text">{{RegisterText}}</p>
    {{#if closeOption}}
      <div class="login-box__close"></div>
    {{/if}}
  </div>
  <div class="login-box__lower">
    {{#unless authenticated}}
      <a aria-label="enroll"  class="mmooc-button mmooc-button-primary" href="/search/all_courses?enroll_code={{selfRegisterCode}}{{#if forwardTo}}&forwardTo={{forwardTo}}{{/if}}">&nbsp;
      </a>
    {{/unless}}
    <a class="mmooc-button mmooc-button-secondary" href="/enroll/{{selfRegisterCode}}{{#if forwardTo}}?forwardTo={{forwardTo}}{{/if}}">
      {{RegisterWithCanvasText}}
    </a>
  </div>
</div>
